<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <span>Node <em>&</em> Express</span>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About us</a>
        </nav>
        <form>
            <input type="text" placeholder="username">
            <button>search</button>
        </form>
    </header>
    <main>
        <h1>about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias at illum excepturi maxime, architecto atque nesciunt qui, rem saepe assumenda, unde adipisci voluptatum. Corrupti laborum deleniti obcaecati temporibus asperiores laboriosam!</p>
    </main>
</body>
</html>