<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include("blocks/header") -%>
    <main>
        <h1>about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi odio enim tenetur voluptatum non illo doloremque sint vitae tempora? At non labore assumenda, possimus suscipit ipsam hic porro quo.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias at illum excepturi maxime, architecto atque nesciunt qui, rem saepe assumenda, unde adipisci voluptatum. Corrupti laborum deleniti obcaecati temporibus asperiores laboriosam!</p>
    </main>
</body>
</html>