<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About us</a>
    </nav>
    <form>
        <input type="text" placeholder="username">
        <button>search</button>
    </form>
</header>